.messageMain {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}
.msgBox {
	width: 100%;
	position: absolute;
	bottom: 6px;
	.formContent {
		width: 100%;
		box-sizing: border-box;
		padding: 20rpx 10rpx 10rpx 10rpx;
	}
}
.listWrapper {
	width: 100%;
	height: calc(100% - 70px);
	box-sizing: border-box;
	padding: 20rpx;
	overflow-x: hidden;
	overflow-y: auto;
	.listItem {
		display: grid;
		grid-template-columns: 100rpx auto;
		align-items: center;
		margin: 30rpx 0;
		background-color: #fff;
		border-radius: 6rpx;
		.text {
			font-size: 26rpx;
			line-height: 36rpx;
			word-break: break-all;
			white-space: pre-line;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			letter-spacing: 2px;
		}
	}
}
