.main {
	width: 100%;
	height: 100%;
	position: relative;
}
.infoWrapper {
	width: calc(100% - 60rpx);
	position: absolute;
	bottom: 9%;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 10;
	padding: 20rpx 0;
	box-sizing: border-box;
	margin: 0 30rpx;
	// background-color: #540208;
	border-radius: 6px;
	// color: #fff;
	box-shadow: 1rpx 3rp 5rpx #333;
	.text1 {
		font-size: 40rpx;
		font-weight: bold;
		padding-bottom: 20rpx;
	}
	.text2 {
		font-size: 32rpx;
		padding: 6rpx 0;
	}
	.text3 {
		font-size: 26rpx;
		margin-top: 20rpx;
	}
}
